/* button */
.button {
  padding: .8em 2.2em;
  margin: 0.3em 0.6em 0.3em 0;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #ffffff;
}
.button:disabled {
  background: #cdcdcd;
}
.button:hover{
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
[class*='bordered-']{
  border: 1px solid tre;
}