/* [0] */
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/Pby7FmXiEBPT4ITbgNA5CgmOalvI7bgWsWdx3Ch_M9uykRdOOoSdBjU92zqHxA.0.woff2)
    format("woff2");
  unicode-range: U+f9ca-fa0b, U+ff03-ff05, U+ff07, U+ff0a-ff0b, U+ff0d-ff19,
    U+ff1b, U+ff1d, U+ff20-ff5b, U+ff5d, U+ffe0-ffe3, U+ffe5-ffe6;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../../public/fonts/KFOlCnqEu92Fr1MmSU5fABc4AMP6lbBP.woff2)
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
@font-face {
  font-family:"Roboto";
  font-style: bold;
  font-weight: 500;
  font-display: swap;
  src: url(../../public/fonts/KFOlCnqEu92Fr1MmEU9fCRc4AMP6lbBP.woff2)
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
@font-face {
  font-family: "ifont";
  src: url("../../public/icons/ifont.eot");
  src: url("../../public/icons/ifont.eot?#iefix") format("embedded-opentype"),
    url("../../public/icons/ifont.woff") format("woff"),
    url("../../public/icons/ifont.ttf") format("truetype"),
    url("../../public/icons/ifont.svg#ifont") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ifont";
  src: url("../../public/icons/ifont.eot");
  src: url("../../public/icons/ifont.eot?#iefix") format("embedded-opentype"),
    url("../../public/icons/ifont.woff") format("woff"),
    url("../../public/icons/ifont.ttf") format("truetype"),
    url("../../public/icons/ifont.svg#ifont") format("svg");
  font-weight: normal;
  font-style: normal;
}
