/* form */
.input-field {
  padding: 0.3em 0;
  width: 100%;
  margin-bottom: 0.4em;
}
.input-field::before,
.input-field::after {
  clear: both;
  content: "";
  display: table;
}
.input-field label {
  color: #616161;
  font-weight: 400;
}
.input-field input,
.input-field textarea {
  padding: 0.7em 0.9em;
  width: 100%;
  margin: 0.4em 0 0.2em 0;
  border: 1px solid #cecece;
  border-radius: 0.3em;
  background: #ffffff;
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
}
.input-field textarea {
  resize: vertical;
  height: 60px;
}
.input-field input:focus,
.input-field textarea:focus {
  outline-width: 0;
  border: 1px solid #b9b8b8 !important;
  outline: 2px solid transparent;
  background: #ffffff;
  background-color: #fff;
  -webkit-box-shadow: 0 0 0 0.07em rgba(70, 80, 221, 0.25);
  box-shadow: 0 0 0 0.07em rgba(70, 80, 221, 0.25);
}
*:focus {
  outline: none;
}
.input-field .help {
  font-size: 0.8em;
  padding: 0;
  margin: 0;
}

.input-field ::placeholder {
  color: #cecece;
}
.input-field :-ms-input-placeholder {
  color: #cecece;
}
.input-field ::-ms-input-placeholder {
  color: #cecece;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}
