/* helpers */
.left-align {
  text-align: left;
}
.center-align {
  text-align: center;
}
.right-align {
  text-align: right;
}
.left {
  float: left;
}
.right {
  float: right;
}
.center {
  margin: auto;
  display: block;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
/* image */
.image {
  width: auto;
}
.image img {
  max-width: 100%;
  display: block;
}
/* Avatar */
.avatar {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  overflow: hidden;
}
.avatar img {
  width: 44px;
  height: auto;
}
.avatar.user-avatar {
  width: auto;
  height: 44px;
  border-radius: 22px;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-right: 10px;
}
.avatar.user-avatar i {
  padding-left: 5px;
  float: right;
}
.avatar.avatar-lg {
  width: auto;
  height: 64px;
  border-radius: 32px;
  padding-right: 15px;
}
.avatar.avatar-lg img {
  width: 64px;
  height: auto;
}
/* Posistion */
.position-relative {
  position: relative;
}
.position-absolute {
  position: absolute;
}
.position-fixed {
  position: fixed;
}
/* Breadcrumps */
.breadcrumbs {
  margin: 0.2em 0 0.6em 0;
  padding: 0;
  list-style-type: none;
}
.breadcrumbs li {
  display: inline-block;
  float: none;
  padding: 0.2em 0.6em;
  margin-right: 0.6em;
  position: relative;
}
.breadcrumbs li a {
  color: rgba(var(--primary-rgb), 0.8);
}
.breadcrumbs li::before {
  content: "";
  top: 10px;
  right: -12px;
  height: 12px;
  width: 12px;
  background-image: url("../../public/images/caret-right.svg");
  background-size: 12px 12px;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
}
.breadcrumbs li:first-child {
  margin-left: 0;
  padding-left: 0;
}
.breadcrumbs li:last-child {
  padding-right: 0;
  color: var(--gray-darken-1);
}
.breadcrumbs li:last-child::before {
  position: relative;
  background-image: none;
}
