/* containers */
.container {
  margin: 0 auto;
  display: block;
  max-width: 1100px;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.container-full {
  max-width: 100%;
}
.container-sm {
  margin: 0 auto;
  display: block;
  width: 100%;
  max-width: 800px;
}
/* text size */
.text-sm {
  font-size: 0.8em;
}
.text-md {
  font-size: 1.2em;
}
.text-lg {
  font-size: 2em;
}
/* helpers */
.left-align {
  text-align: left;
}
.center-align {
  text-align: center;
}
.right-align {
  text-align: right;
}
.left {
  float: left;
}
.right {
  float: right;
}
.center {
  margin: auto;
  display: block;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
// image
.image {
  width: auto;
}
.image img {
  max-width: 100%;
  display: block;
}

/* lists */
ul {
  margin: 0;
  padding: 0;
}
.list-inline li {
  display: inline-block;
  float: none;
}
.list-block {
  margin: 0;
  padding: 0;
  display: block;
}
.list-block li {
  display: block;
}
/* Posistion */
.position-relative {
  position: relative;
}
.position-absolute {
  position: absolute;
}
/* Navbar */
