@import "shadow.less";

/* Default navbar */
nav {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 0.2em 0 !important;
}
nav::before,
nav::after {
  clear: both;
  content: "";
  display: table;
}
nav li {
  padding-top: 0.6em;
  padding-right: 0.6em;
}
nav a {
  flex-grow: 1;
  padding: 0.6em 1em;
  position: relative;
  font-weight: 400;
}
.nav-center {
  display: flex;
  justify-content: center;
}
/* Dropdown list*/
nav .has-dropdown {
  position: relative;
}
nav .has-dropdown .dropdown {
  display: none;
}
nav .has-dropdown:hover .dropdown {
  display: block;
  position: absolute;
  right: 0;
  background: #ffffff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}
nav .dropdown li {
  padding: 1em 0.6em;
}
/* Nested navigation list */
nav li {
  position: relative;
}
nav .nested-list {
  padding: 0.3em 0;
  position: relative;
  left: 15px;
}
nav .nested-list li {
  padding: 0.3em 0;
}
nav.navbar-fixed {
  position: fixed;
  border: 1px solid red;
}
