/* Margin */
.my-sm {
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}
.my-lg {
  margin-top: 1.8em;
  margin-bottom: 1.8em;
}
.mx-md {
  margin-right: 0.8em;
  margin-left: 0.8em;
}
/* Padding */
.py-sm {
  padding-top: 0.6em;
  padding-bottom: 0.6em;
}
.px-sm {
  padding-right: 0.6em;
  padding-left: 0.6em;
}
