@import "alert.less";
@import "border.less";
@import "buttons.less";
@import "card.less";
@import "form.less";
@import "grid.less";
@import "heading.less";
@import "helpers.less";
@import "shadow.less";
@import "table.less";
@import "radius.less";
@import "spacing.less";
@import "navbar.less";
@import "typography.less";
@import "badge.less";

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../../public/fonts/mem5YaGs126MiZpBA-UN_r8OX-hpKKSTj5PW.woff2)
  format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
  U+FE2E-FE2F;
}
@font-face {
  font-family: "Open Sans";
  font-style: bold;
  font-weight: 400;
  font-display: swap;
  src: url(../../public/fonts/mem8YaGs126MiZpBA-UFWJ0bf8pkAp6a.woff2)
  format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
  U+FE2E-FE2F;
}
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
}
p {
  margin-top: 0.2em;
  margin-bottom:0.2em;
}
/* default tags */
article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
  padding: 0.001em 0;
}

header {
  z-index: 100;
}
