table {
  border-collapse: collapse;
  margin: 1em 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table tr {
  border-bottom: 1px solid #ddd;
  text-align: left;
}
table thead {
  font-size: 14px;
}
table th,
table td {
  padding: 1em 0.225em;
}

table th {
  font-weight: bold;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  table {
    border: 0;
  }

  table thead {
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    text-align: left;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    text-align: right;
  }

  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}
